/* ========== AUTH LAYOUT ========== */

.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.auth-logo {
  margin-bottom: 20px;
  text-align: center;
}

.auth-logo img {
  height: 55px;
}

/* box */
.auth-box {
  width: 100%;
  max-width: 420px;
  padding: 32px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 160px;
}

/* title */
.auth-title {
  font-size: 28px;
  font-weight: 700;
  color: #018f01;
  text-align: center;
}

.auth-sub {
  margin-bottom: 20px;
  color: #2f855a;
  text-align: center;
}

/* input */
.custom-input .ant-input,
.custom-input .ant-input-affix-wrapper {
  height: 36px;
  border-radius: 8px;
  background-color: #e6f4ff;
  box-sizing: border-box;
}

.custom-input .ant-input-affix-wrapper {
  display: flex;
  align-items: center;
  padding: 0 11px; 
}

.custom-input .ant-input-affix-wrapper .ant-input {
  height: 100%;      
  background-color: transparent;
  padding: 0;          
}

/* button */
.custom-button {
  width: 100%;
  height: 40px;
  font-weight: 600;
  background: #2f855a;
  border-radius: 6px;
}

.custom-button:hover {
  background: #197949 !important;
}

/* link */
.register-login-link {
  text-align: center;
}

.register-login-link a {
  color: #2f855a;
}

.btn-see {
  background: #13c2c2 !important;
  border-color: #13c2c2 !important;
  align-items: center;
}

.btn-edit {
  background: #52c41a !important;
  border-color: #52c41a !important;
  align-items: center;
}

.btn-delete {
  background: #ff4d4f !important;
  border-color: #ff4d4f !important;
  align-items: center;
}

.btn-upload {
  background: #fa8c16 !important;
  border-color: #fa8c16 !important;
  align-items: center;
}
.btn-see-upload {
  background: #ffffff !important;
  border-color: #0c0c0c !important;
  color: #000000 !important; /* Chữ màu đen */

  display: inline-flex;
  align-items: center;
}

/* responsive */
@media (max-width: 430px) {
  .auth-box {
    padding: 16px;
    box-shadow: none;
    background: transparent;
  }
}
